@font-face {
  font-family: 'Sledge-Rough';
  src: url('../../assets/Sledge/Sledge-Rough.woff2');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Sledge-Rough !important;
  font-weight: normal;
  color: white;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 88px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 38px;
}

canvas {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}

.confetti-container {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 0.7;
  animation: confetti-fall 5s ease-in infinite;
}

@keyframes confetti-fall {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}