.wrapper {
    
    height: 50px;
    width: 95%;
    border: 5px solid #ffff;
    border-radius: 50px;
    padding: 7px;
    box-sizing: border-box;
    margin-bottom: 20px;

    .progress {
        background-color: #fff;
        height: 100%;
        border-radius: 50px;
        transition: all 0.2s;
    }

}